<div id="<%= dom_id detail %>">
  <p>
    <strong>Title:</strong>
    <%= detail.title %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= detail.age %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= detail.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= detail.email %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= detail.person.name %>
  </p>

</div>
